<h3>Analyzing in Python</h3>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Z:\Power BI\Project-1\customer_shopping_behavior.csv")

In [3]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [44]:
df.describe(include="all")

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [45]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [46]:
# Here we are find the meadian review rating in each category(like shoes, clothes, etc) to fill the missing or null smaces in reviews this will help us to fill correct review in correct category
df["Review Rating"] = df.groupby("Category")["Review Rating"].transform(lambda x: x.fillna(x.median()))

In [47]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [48]:
# Changing everything into lower case and replacing spaces with _ for to make it in snake casing for better code structure

df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ","_")

In [49]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [50]:
# changing "purchase_amount_(usd)" to just "purchase_amount"

df = df.rename(columns={"purchase_amount_(usd)":"purchase_amount"})

In [51]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [58]:
# creating a column age_gape to categorise the data based on age groups created by us

labels = ["Young Adult","Adult","Middle-aged","senior"]
df["age_group"]=pd.qcut(df["age"], q=4, labels = labels)

In [59]:
df[["age","age_group"]].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [60]:
# Creating columns Purchase_frequency_days

frequency_mapping = {
"Fortnightly": 14,
"Weekly": 7,
"Monthly": 30,
"Quarterly": 90,
"Bi-Weekly": 14,
"Annually": 365,
"Every 3 Months": 90
}
df ["purchase_frequency_days"] = df ["frequency_of_purchases"].map(frequency_mapping)

In [62]:
df[["purchase_frequency_days","frequency_of_purchases"]].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [64]:
# checking if these columns have same data

df[["discount_applied","promo_code_used"]].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [66]:
# Checking using the code, output is TRUE that means data is same now we can delete one column

(df["discount_applied"] == df["promo_code_used"]).all()

np.True_

In [67]:
df = df.drop("promo_code_used", axis=1)  # axis=1 drops column (horizontal), axis=0 drops row (vertical)

In [70]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

<H3>Connecting SQL</H3>

In [5]:
from sqlalchemy import create_engine, text

engine = create_engine(
 "mysql+pymysql://root:rootuser@localhost:3306/pandasdb",
 echo=True # shows SQL logs (optional)
)

# Test connection
with engine.connect() as conn:
 result = conn.execute(text("SELECT DATABASE();"))
 print("Connected to:", result.fetchone())

2026-02-20 10:59:41,771 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2026-02-20 10:59:41,772 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-20 10:59:41,774 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2026-02-20 10:59:41,774 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-20 10:59:41,775 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2026-02-20 10:59:41,777 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-20 10:59:41,781 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-20 10:59:41,781 INFO sqlalchemy.engine.Engine SELECT DATABASE();
2026-02-20 10:59:41,782 INFO sqlalchemy.engine.Engine [generated in 0.00149s] {}
Connected to: ('pandasdb',)
2026-02-20 10:59:41,784 INFO sqlalchemy.engine.Engine ROLLBACK

In [79]:
table_name = "customer_behavior"
df.to_sql(table_name, engine, if_exists="replace", index=False)

2026-02-17 11:55:00,092 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-17 11:55:00,102 INFO sqlalchemy.engine.Engine DESCRIBE `pandasdb`.`customer_behavior`
2026-02-17 11:55:00,103 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-17 11:55:00,115 INFO sqlalchemy.engine.Engine
CREATE TABLE customer_behavior (
	customer_id BIGINT,
	age BIGINT,
	gender TEXT,
	item_purchased TEXT,
	category TEXT,
	purchase_amount BIGINT,
	location TEXT,
	size TEXT,
	color TEXT,
	season TEXT,
	review_rating FLOAT(53),
	subscription_status TEXT,
	shipping_type TEXT,
	discount_applied TEXT,
	previous_purchases BIGINT,
	payment_method TEXT,
	frequency_of_purchases TEXT,
	age_group TEXT,
	purchase_frequency_days BIGINT
)


2026-02-17 11:55:00,116 INFO sqlalchemy.engine.Engine [no key 0.00110s] {}
2026-02-17 11:55:00,252 INFO sqlalchemy.engine.Engine INSERT INTO customer_behavior (customer_id, age, gender, item_purchased, category, purchase_amount, location, size, color, season, review_rating, subscription_status, shipping_type, discount_applied, previous_purchases, payment_method, frequency_of_purchases, age_group, purchase_frequency_days) VALUES (%(customer_id)s, %(age)s, %(gender)s, %(item_purchased)s, %(category)s, %(purchase_amount)s, %(location)s, %(size)s, %(color)s, %(season)s, %(review_rating)s, %(subscription_status)s, %(shipping_type)s, %(discount_applied)s, %(previous_purchases)s, %(payment_method)s, %(frequency_of_purchases)s, %(age_group)s, %(purchase_frequency_days)s)
2026-02-17 11:55:00,253 INFO sqlalchemy.engine.Engine [generated in 0.04154s] [{'customer_id': 1, 'age': 55, 'gender': 'Male', 'item_purchased': 'Blouse', 'category': 'Clothing', 'purchase_amount': 53, 'location': 'Kentucky', 'size': 'L', 'color': 'Gray', 'season': 'Winter', 'review_rating': 3.1, 'subscription_status': 'Yes', 'shipping_type': 'Express', 'discount_applied': 'Yes', 'previous_purchases': 14, 'payment_method': 'Venmo', 'frequency_of_purchases': 'Fortnightly', 'age_group': 'Middle-aged', 'purchase_frequency_days': 14}, {'customer_id': 2, 'age': 19, 'gender': 'Male', 'item_purchased': 'Sweater', 'category': 'Clothing', 'purchase_amount': 64, 'location': 'Maine', 'size': 'L', 'color': 'Maroon', 'season': 'Winter', 'review_rating': 3.1, 'subscription_status': 'Yes', 'shipping_type': 'Express', 'discount_applied': 'Yes', 'previous_purchases': 2, 'payment_method': 'Cash', 'frequency_of_purchases': 'Fortnightly', 'age_group': 'Young Adult', 'purchase_frequency_days': 14}, {'customer_id': 3, 'age': 50, 'gender': 'Male', 'item_purchased': 'Jeans', 'category': 'Clothing', 'purchase_amount': 73, 'location': 'Massachusetts', 'size': 'S', 'color': 'Maroon', 'season': 'Spring', 'review_rating': 3.1, 'subscription_status': 'Yes', 'shipping_type': 'Free Shipping', 'discount_applied': 'Yes', 'previous_purchases': 23, 'payment_method': 'Credit Card', 'frequency_of_purchases': 'Weekly', 'age_group': 'Middle-aged', 'purchase_frequency_days': 7}, {'customer_id': 4, 'age': 21, 'gender': 'Male', 'item_purchased': 'Sandals', 'category': 'Footwear', 'purchase_amount': 90, 'location': 'Rhode Island', 'size': 'M', 'color': 'Maroon', 'season': 'Spring', 'review_rating': 3.5, 'subscription_status': 'Yes', 'shipping_type': 'Next Day Air', 'discount_applied': 'Yes', 'previous_purchases': 49, 'payment_method': 'PayPal', 'frequency_of_purchases': 'Weekly', 'age_group': 'Young Adult', 'purchase_frequency_days': 7}, {'customer_id': 5, 'age': 45, 'gender': 'Male', 'item_purchased': 'Blouse', 'category': 'Clothing', 'purchase_amount': 49, 'location': 'Oregon', 'size': 'M', 'color': 'Turquoise', 'season': 'Spring', 'review_rating': 2.7, 'subscription_status': 'Yes', 'shipping_type': 'Free Shipping', 'discount_applied': 'Yes', 'previous_purchases': 31, 'payment_method': 'PayPal', 'frequency_of_purchases': 'Annually', 'age_group': 'Middle-aged', 'purchase_frequency_days': 365}, {'customer_id': 6, 'age': 46, 'gender': 'Male', 'item_purchased': 'Sneakers', 'category': 'Footwear', 'purchase_amount': 20, 'location': 'Wyoming', 'size': 'M', 'color': 'White', 'season': 'Summer', 'review_rating': 2.9, 'subscription_status': 'Yes', 'shipping_type': 'Standard', 'discount_applied': 'Yes', 'previous_purchases': 14, 'payment_method': 'Venmo', 'frequency_of_purchases': 'Weekly', 'age_group': 'Middle-aged', 'purchase_frequency_days': 7}, {'customer_id': 7, 'age': 63, 'gender': 'Male', 'item_purchased': 'Shirt', 'category': 'Clothing', 'purchase_amount': 85, 'location': 'Montana', 'size': 'M', 'color': 'Gray', 'season': 'Fall', 'review_rating': 3.2, 'subscription_status': 'Yes', 'shipping_type': 'Free Shipping', 'discount_applied': 'Yes', 'previous_purchases': 49, 'payment_method': 'Cash', 'frequency_of_purchases': 'Quarterly', 'age_group': 'senior', 'purchase_frequency_days': 90}, {'customer_id': 8, 'age': 27, 'gender': 'Male', 'item_purchased': 'Shorts', 'category': 'Clothing', 'purchase_amount': 34, 'location': 'Louisiana', 'size': 'L', 'color': 'Charcoal', 'season': 'Winter', 'review_rating': 3.2, 'subscription_status': 'Yes', 'shipping_type': 'Free Shipping', 'discount_applied': 'Yes', 'previous_purchases': 19, 'payment_method': 'Credit Card', 'frequency_of_purchases': 'Weekly', 'age_group': 'Young Adult', 'purchase_frequency_days': 7}  ... displaying 10 of 3900 total bound parameter sets ...  {'customer_id': 3899, 'age': 44, 'gender': 'Female', 'item_purchased': 'Shoes', 'category': 'Footwear', 'purchase_amount': 77, 'location': 'Minnesota', 'size': 'S', 'color': 'Brown', 'season': 'Summer', 'review_rating': 3.8, 'subscription_status': 'No', 'shipping_type': 'Express', 'discount_applied': 'No', 'previous_purchases': 24, 'payment_method': 'Venmo', 'frequency_of_purchases': 'Weekly', 'age_group': 'Adult', 'purchase_frequency_days': 7}, {'customer_id': 3900, 'age': 52, 'gender': 'Female', 'item_purchased': 'Handbag', 'category': 'Accessories', 'purchase_amount': 81, 'location': 'California', 'size': 'M', 'color': 'Beige', 'season': 'Spring', 'review_rating': 3.1, 'subscription_status': 'No', 'shipping_type': 'Store Pickup', 'discount_applied': 'No', 'previous_purchases': 33, 'payment_method': 'Venmo', 'frequency_of_purchases': 'Quarterly', 'age_group': 'Middle-aged', 'purchase_frequency_days': 90}]
2026-02-17 11:55:00,468 INFO sqlalchemy.engine.Engine COMMIT

3900

In [6]:
pd.read_sql("SELECT * FROM customer_behavior LIMIT 5;", engine)

2026-02-20 10:59:58,460 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-20 10:59:58,461 INFO sqlalchemy.engine.Engine DESCRIBE `pandasdb`.`SELECT * FROM customer_behavior LIMIT 5;`
2026-02-20 10:59:58,463 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-20 10:59:58,475 INFO sqlalchemy.engine.Engine SELECT * FROM customer_behavior LIMIT 5;
2026-02-20 10:59:58,476 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-20 10:59:58,483 INFO sqlalchemy.engine.Engine ROLLBACK

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle-aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young Adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle-aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle-aged,365